MONGO_URI=mongodb://localhost:27017/farmy

PORT=6767
NODE_ENV=development

JWT_SECRET=example


SMS_PROVIDER=twilio
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_PHONE_NUMBER=+1234567890
